html,body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

#map, #container, #row {
    height: 100%;
}

#search-bar {
    width: 80%;
    display: inline-block;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

.sidebar{
    height: 100%;
    text-align: center;
}

#search{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#hotel-list{
    margin-top: 10px;
    height: 85%;
    overflow-y: auto;
/*    position: absolute;
    bottom: 10px;*/
    text-align: center;
    width: 100%;
    padding-right: 10px;
}

.hotel-name{
    border-bottom: thin solid #D3D3D3;
    cursor: pointer;
    text-align: center;
}

.list-info{
    width: 55%;
    display: inline-block;
    color: #428bca;
    vertical-align: middle;
}

.hotel-name img{
    width: 100px;
    height: 100px;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: middle;
}

#rating-filter{
    width: 100%;
/*    text-align: center;*/
}

#rating-filter h5{
    display: inline-block;
}

#rating-buttons{
    display: inline-block;
}

#recommended-nearby{
    height: 50%;
    overflow-y: auto;
    position: absolute;
    bottom: 10px;
}

#hotel-img{
    width: 100%;
    height: 25%;
    margin-top: 10px;
    margin-right: 10px;
}

#hotel-img img{
    height: 100%;
    width: 100%;
}

#hotel-info{
    height: 20%;
    overflow-y: auto;
}

#recommended-nearby{
    border-top: thin solid #D3D3D3;
}

#recommended-nearby h4{
    display: none;
}

.recommended-info{
    cursor: pointer;
}

.recommended-info strong{
    color: #428bca;
}

.recommended-item{
    border-bottom: thin solid #D3D3D3;
}

